
.headline {
  padding: 0 2rem;
  text-align: center;
}

.input{
  border: none;
  padding: 8px 16px;
  margin-bottom: 10px;
  font-size: 20px;
  width: 100%;
  background-color: rgb(219, 219, 219);
  border-radius: 3px;
}

.button {
  width: 100%;
  background-color: rgb(26, 138, 26);
}